<%= link_to ' << Public Recipes', publics_path, class: "btn btn-outline mb-2"%> 
<%= link_to ' << Recipes', recipes_path, class: "btn btn-outline mb-2" if current_user %> 
<div class="container">
    <div class="card text-center ">
        <h4 class="card-header" style="background: var(--primary-color); color: var(--white)">
          <%= image_tag @recipe.image, class: "float-start bio-photo" if @recipe.image.present? %>
          <%= @recipe.name %>
        </h4>
        <div class="row mx-5 mt-2">
          <div class="col-md-9">
              <p class="text-start"><i class="fa fa-clock-o" aria-hidden="true"></i> Preparation time: <%= @recipe.preparation_time %></p>
              <p class="text-start"><i class="fa fa-clock-o" aria-hidden="true"></i> Cooking time: <%= @recipe.cooking_time %></p> 
          </div>
          <div class="col-md-3">
              <%= form_with model: @recipe, url: recipe_path(@recipe.id), method: :patch, local: true do |form| %>
                <div class="form-switch">
                    <%= form.check_box :public, class: "form-check-input", onchange: 'this.form.submit()' %>
                    <%= form.label :public, 'public', class: "form-check-label", checked: @recipe.public %> <br />
                </div>
              <% end %>
          </div>
        </div>
    </div>
    <div class="mt-4">
        <%= link_to 'Generate shopping list', new_recipe_recipe_food_path(@recipe.id), class: "btn btn-outline-info mb-2 flex-start" %> 
        <span style="float: right">
          <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> Add food ingredient'.html_safe, new_recipe_recipe_food_path(@recipe.id), class: "btn btn-outline-success mb-2 flex-end" %> 
        </span>
    </div>
    <table class="table table-striped text-center">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
          <% @recipe_foods.each do |recipe_food| %>
        <tr>
          <td>
              <% if recipe_food.image.present? %>
                <%= image_tag recipe_food.image, class: "bio-photo" %>
              <% else %>
                <%= image_tag "no-food-image.png", class: "bio-photo" %>
              <% end %>
          </td>
          <td><%= recipe_food.name %></td>
          <td><%= recipe_food.quantity %></td>
          <td>$<%= recipe_food.price * recipe_food.quantity %></td>
          <td>
          <a href="<%= edit_recipe_recipe_food_path(@recipe.id, recipe_food.recipe_foods_id) %>" class='btn btn-outline-primary'>
            <i class="fa fa-pencil" aria-hidden="true"></i>  
            Modify
          </a>