<%= link_to ' << Public Recipes', publics_path, class: "btn btn-outline mb-2"%> 
<%= link_to ' << Recipes', recipes_path, class: "btn btn-outline mb-2" if current_user %> 
<div class="container">
    <div class="card text-center ">
        <h4 class="card-header" style="background: var(--primary-color); color: var(--white)">
          <%= image_tag @recipe.image, class: "float-start bio-photo" if @recipe.image.present? %>
          <%= @recipe.name %>
        </h4>
        <div class="row mx-5 mt-2">
          <div class="col-md-9">
              <p class="text-start"><i class="fa fa-clock-o" aria-hidden="true"></i> Preparation time: <%= @recipe.preparation_time %></p>
              <p class="text-start"><i class="fa fa-clock-o" aria-hidden="true"></i> Cooking time: <%= @recipe.cooking_time %></p> 
          </div>
          <div class="col-md-3">
              <%= form_with model: @recipe, url: recipe_path(@recipe.id), method: :patch, local: true do |form| %>
                <div class="form-switch">
                    <%= form.check_box :public, class: "form-check-input", onchange: 'this.form.submit()' %>
                    <%= form.label :public, 'public', class: "form-check-label", checked: @recipe.public %> <br />
                </div>
              <% end %>
          </div>
        </div>
    </div>