<div class="col-md-4 offset-md-1 shadow inventory-card mb-3">
<div class="row g-0">
    <div class="col-md-3">
        <% if recipe.image.present? %>
            <%= image_tag recipe.image, class: "card-img-top" %>
        <% else %>
            <%= image_tag "no-food-image.png", class: "card-img-top recipe-image" %>
        <% end %>
    </div>
    <div class="col-md-9">
    <div class="card-body">
        <h5 class="card-title"><%= recipe.name %></h5>
        <p class="card-text"><%= recipe.description.length < 54 ? recipe.description : truncate(recipe.description, length: 100, omission: '...') %></p>
        <p class="card-text">
            <%= link_to '<i class="fa fa-eye" aria-hidden="true"></i> Show'.html_safe, recipe_path(recipe.id), class: 'btn btn-outline-info' %>
            <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i> Delete'.html_safe, recipe_path(recipe.id), method: :delete, data: { confirm: "Delete recipe #{recipe.name}?" }, class: 'btn btn-outline-danger' if can? :destroy, recipe %>
        </p>
    </div>
    </div>
</div>
</div>